
input{
    border:none;
    background-color: transparent;
  }
  
  
.fa-user-circle-o{
    color: gray;
  }

.push-top {
    margin-top: 50px;
  }


.right{
    text-align: right;
}

.header{
    background-color: #6474d4;
    color: white;
 
}

.button-welcome{
    background-color: rgb(58, 58, 58);
    color: white;
}


body{
    background: rgb(243, 244, 246);
    min-height: 100vh;
}

.delete-hover:hover{
    color:#0456b3 !important;
 }

.card-header{
    background-color: #c5c5c5;
}

.card-body{
    background-color:	#f7f7f7;
}







