

.push-top {
    margin-top: 50px;
  }

.button-edit{
    background-color: #666dd1;
    color: white;
}

.button-delete{
    background-color: #f73a21;
    color: white;
}

.right{
    text-align: right;
}

.button-add{
    background-color: #48a57e;
    color: white;
}

.header{
    background-color: #b1b3ca;
 
}

.button-welcome{
    background-color: rgb(58, 58, 58);
    color: white;
}


body{
    background: rgb(243, 244, 246);
    min-height: 100vh;

}

